<?xml version="1.0" ?>
<robot name="nanosaur_sensor_camera" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Sensors -->
    <xacro:property name="sensor_mass" value="0.01"/>
    <xacro:property name="camera_box_x" value="0.02"/>
    <xacro:property name="camera_box_y" value="0.01"/>
    <xacro:property name="camera_box_z" value="0.01"/>

  <xacro:macro name="normal_camera" params="parent_name sensor_name robot_name *camera_pose">   

    <link name='${sensor_name}_camera_link'>
		<visual>
			<origin xyz="0 0 0"
					rpy="0 0 0"/>
			<geometry>
				<box size="${camera_box_x} ${camera_box_y} ${camera_box_z}"/>
			</geometry>
		</visual>
	</link>

    <joint name="${sensor_name}_camera_link_joint" type="fixed">
        <xacro:insert_block name="camera_pose"/>
		<parent link="${parent_name}"/>
		<child link="${sensor_name}_camera_link"/>
	</joint>


    <link name="${sensor_name}_camera_link_frame">
    </link>

    <joint name="${sensor_name}_camera_frame_joint" type="fixed">
        <origin xyz="${camera_box_x} 0 0" rpy="0 0 0" />
        <parent link="${sensor_name}_camera_link" />
        <child link="${sensor_name}_camera_link_frame" />
        <axis xyz="0 0 0"/>
    </joint>

    <gazebo reference="${sensor_name}_camera_link_frame">
        <sensor type="camera" name="${sensor_name}">
        <update_rate>10.0</update_rate>
        <camera name="${sensor_name}_SP">

            <pose>0 0 0 0 0 0</pose>

            <horizontal_fov>1.3962634</horizontal_fov>
            <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.005</near>
                <far>20.0</far>
            </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <ros>
                <namespace>/${robot_name}</namespace>
            </ros>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>${sensor_name}</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>${sensor_name}_camera_link_frame</frameName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
        </plugin>
        </sensor>
    </gazebo>

  </xacro:macro>

</robot>