<?xml version="1.0" ?>
<robot name="nanosaur_sensor_widecamera" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Sensors -->
    <xacro:property name="sensor_mass" value="0.01"/>
    <xacro:property name="camera_box_x" value="0.02"/>
    <xacro:property name="camera_box_y" value="0.01"/>
    <xacro:property name="camera_box_z" value="0.01"/>

  <xacro:macro name="wide_angle_camera" params="parent_name sensor_name robot_name *camera_pose">

    <link name='${sensor_name}_camera_link'>
      <visual>
      <origin xyz="0 0 0"
          rpy="0 0 0"/>
      <geometry>
        <box size="${camera_box_x} ${camera_box_y} ${camera_box_z}"/>
      </geometry>
      </visual>
    </link>

    <joint name="${sensor_name}_camera_link_joint" type="fixed">
      <xacro:insert_block name="camera_pose"/>
      <parent link="${parent_name}"/>
      <child link="${sensor_name}_camera_link"/>
    </joint>


    <link name="${sensor_name}_camera_link_frame">
    </link>

    <joint name="${sensor_name}_camera_frame_joint" type="fixed">
        <origin xyz="${camera_box_x} 0 0" rpy="0 0 0" />
        <parent link="${sensor_name}_camera_link" />
        <child link="${sensor_name}_camera_link_frame" />
        <axis xyz="0 0 0"/>
    </joint>

    <gazebo reference="${sensor_name}_camera_link_frame">
        <sensor type="wideanglecamera" name="camera">
          <camera>
            <horizontal_fov>6.283</horizontal_fov>
            <image>
              <width>320</width>
              <height>240</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <!-- A new section named `lens`. -->
            <lens>
              <!-- type element is mandatory -->
              <type>custom</type>
              <!-- manually defined mapping function r = c1*f*fun(theta/c2 + c3) -->
              <!-- More information here https://en.wikipedia.org/wiki/Fisheye_lens#Mapping_function -->
              <custom_function>
                <c1>1.05</c1>
                <!-- linear scaling -->
                <c2>4</c2>
                <!-- angle scaling -->
                <f>1.0</f>
                <!-- one more scaling parameter -->
                <fun>tan</fun>
                <!-- one of sin,tan,id -->
              </custom_function>
              <!-- if it is set to `true` your horizontal FOV will ramain as defined -->
              <!-- othervise it depends on lens type and custom function, if there is one -->
              <scale_to_hfov>true</scale_to_hfov>
              <!-- clip everything that is outside of this angle -->
              <cutoff_angle>3.1415</cutoff_angle>
              <!-- resolution of the cubemap texture, the highter it is - the sharper is your image -->
              <env_texture_size>512</env_texture_size>
            </lens>
            <always_on>1</always_on>
            <update_rate>30</update_rate>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <cameraName>${sensor_name}</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>${sensor_name}_camera_link_frame</frameName>
            <hackBaseline>0.07</hackBaseline>
          </plugin>
        </sensor>
    </gazebo>

  </xacro:macro>

</robot>