<?xml version="1.0" ?>
<robot name="nanosaur_sensor_zed" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="zed_gazebo_camera" params="parent_name sensor_name robot_name camera_model depth_camera resolution">

        <link name="${camera_model}_${depth_camera}_depth_frame" />
        <joint name="${sensor_name}_depth_gazebo_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${camera_model}_${depth_camera}_camera_frame" />
            <child link="${camera_model}_${depth_camera}_depth_frame" />
        </joint>
        
        <xacro:if value="${camera_model == 'zedm'}">
          <link name="${sensor_name}_imu_frame_gazebo" />
          <joint name="${sensor_name}_imu_gazebo_joint" type="fixed">
              <origin xyz="0 0 0" rpy="0 0 0" />
              <parent link="${camera_model}_camera_center" />
              <child link="${sensor_name}_imu_frame_gazebo" />
          </joint>
        </xacro:if>

        <xacro:property name="depth_rate" value="30" />

        <xacro:if value="${resolution == 'HD2K'}">
            <xacro:property name="resolution_width" value="4416" />
            <xacro:property name="resolution_heigth" value="1242" />
            <xacro:property name="update_rate" value="15" />
        </xacro:if>
        <xacro:if value="${resolution == 'HD1080'}">
            <xacro:property name="resolution_width" value="3840" />
            <xacro:property name="resolution_heigth" value="1080" />
            <xacro:property name="update_rate" value="30" />
        </xacro:if>
        <xacro:if value="${resolution == 'HD720'}">
            <xacro:property name="resolution_width" value="2560" />
            <xacro:property name="resolution_heigth" value="720" />
            <xacro:property name="update_rate" value="60" />
        </xacro:if>
        <xacro:if value="${resolution == 'WVGA'}">
            <xacro:property name="resolution_width" value="1344" />
            <xacro:property name="resolution_heigth" value="376" />
            <xacro:property name="update_rate" value="100" />
        </xacro:if>
        <xacro:if value="${resolution == 'VGA'}">
            <xacro:property name="resolution_width" value="640" />
            <xacro:property name="resolution_heigth" value="480" />
            <xacro:property name="update_rate" value="100" />
        </xacro:if>

        <xacro:if value="${camera_model == 'zed'}">
            <xacro:property name="baseline" value="0.12" />
            <xacro:property name="fov" value="2.0" />
            <xacro:property name="min_depth" value="0.3" />
            <xacro:property name="max_depth" value="25" />
        </xacro:if>
        <xacro:if value="${camera_model == 'zedm'}">
            <xacro:property name="baseline" value="0.063" />
            <xacro:property name="fov" value="2.0" />
            <xacro:property name="min_depth" value="0.1" />
            <xacro:property name="max_depth" value="15" />
            <!-- Add IMU for ZED -->
            <!-- <xacro:imu_gazebo name="${sensor_name}" frame="${sensor_name}_imu_frame_gazebo" /> -->
        </xacro:if>
        <xacro:if value="${camera_model == 'zed2'}">
            <xacro:property name="baseline" value="0.12" />
            <xacro:property name="fov" value="1.8" />
            <xacro:property name="min_depth" value="0.2" />
            <xacro:property name="max_depth" value="20" />
            <!-- Add IMU for ZED -->
            <xacro:imu_gazebo name="${sensor_name}" frame="${sensor_name}_imu_frame_gazebo" />
        </xacro:if>

      <gazebo reference="${camera_model}_${depth_camera}_depth_frame">
        <sensor type="depth" name="${sensor_name}/left">
          <update_rate>${depth_rate}</update_rate>
          <visualize>1</visualize>
          <camera>
            <pose>0 0 0 0 0 0</pose>
            <horizontal_fov>${fov}</horizontal_fov>
            <image>
              <width>${resolution_width}</width>
              <height>${resolution_heigth}</height>
              <format>B8G8R8</format>
            </image>
            <depth_camera>
            </depth_camera>
            <clip>
              <near>0.02</near>
              <far>300</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <!-- Noise is sampled independently per pixel on each frame.
                   That pixel's noise value is added to each of its color
                   channels, which at that point lie in the range [0,1]. -->
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <plugin name="${camera_model}_left_controller" filename="libgazebo_ros_camera.so">
            <ros>
                <namespace>/${robot_name}</namespace>
            </ros>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>${sensor_name}/left</cameraName>
            <frameName>${camera_model}_left_camera_frame</frameName>
            <min_depth>${min_depth}</min_depth>
            <max_depth>${max_depth}</max_depth>
          </plugin>
        </sensor>
      </gazebo>

    <gazebo reference="${camera_model}_right_camera_frame">
        <sensor type="camera" name="${sensor_name}/right">
        <update_rate>${update_rate}</update_rate>
        <camera name="${sensor_name}/right">

            <pose>0 0 0 0 0 0</pose>

            <horizontal_fov>${fov}</horizontal_fov>
            <image>
              <width>${resolution_width}</width>
              <height>${resolution_heigth}</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.02</near>
              <far>300</far>
            </clip>
        </camera>
        <plugin name="${camera_model}_right_controller" filename="libgazebo_ros_camera.so">
            <ros>
                <namespace>/${robot_name}</namespace>
            </ros>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>${sensor_name}</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>${camera_model}_right_camera_frame</frameName>
        </plugin>
        </sensor>
    </gazebo>

    </xacro:macro>

</robot>