<?xml version="1.0"?>

<model>
  <name>mini_office</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Raffaello Bonghi</name>
    <email>raffaello@rnext.it</email>
  </author>

  <description>
    Indoor Lightmap - Indoor environment with prebaked lighting using a lightmap
    Edited from: Cole Biesemeyer, cole@openrobotics.org
  </description>
</model>
