<?xml version="1.0"?>

<model>
  <name>desktop</name>
  <version>1.0</version>
  <sdf version="1.5">desktop.sdf</sdf>
  <author>
    <name>Ricardo Tellez</name>
    <email>rtellez@theconstructsim.com</email>
  </author>

  <description>
    Computer desktop downloaded from 3Dwarehouse
    https://3dwarehouse.sketchup.com/model/81d97b84eb7a4641e180a1a604561d3b/Computer-Desk
  </description>
</model>