<?xml version="1.0"?>

<model>
  <name>books</name>
  <version>1.0</version>
  <sdf version="1.5">books.sdf</sdf>
  <author>
    <name>Ricardo Tellez</name>
    <email>rtellez@theconstructsim.com</email>
  </author>

  <description>
    Several books downloaded from 3Dwarehouse
    https://3dwarehouse.sketchup.com/model/354de466d499cc88aee74b2ba0420dda/Rein-Books-1
  </description>
</model>