<?xml version="1.0"?>
<robot name="nanosaur_ignition" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- nanosaur parts -->
    <xacro:include filename="$(find nanosaur_description)/urdf/robot.urdf.xacro" />
    <xacro:include filename="$(find nanosaur_ignition)/urdf/mecanum_drive.ignition.xacro" />
    <!-- Sensors -->
    <xacro:include filename="$(find nanosaur_ignition)/urdf/sensors/realsense.ignition.xacro" />

    <xacro:arg name="robot_name" default="nanosaur" />
    <!-- camera definitions -->
    <xacro:arg name="head_type" default="empty" /> <!--options: empty, realsense, zedmini -->
    <xacro:arg name="flap_type" default="empty" /> <!--options: empty, LD06 -->
    <xacro:property name="cover_type_name" value="$(arg head_type)" />

    <xacro:arg name="publish_pointcloud"  default="false"/>

    <xacro:arg name="depth_camera"  default="left"/>
    <xacro:arg name="resolution"    default="VGA"/>

    <xacro:nanosaur
            head_type="$(arg head_type)"
            flap_type="$(arg flap_type)"
            use_nominal_extrinsics="true" />

    <!-- nanosaur mecanum wheel drive controller -->
    <xacro:mecanum_drive
            parent="base_link"
            wheelbase="${nanosaur_wheelbase}"
            wheel_radius="${mecanum_radius}"
            wheel_separation="${nanosaur_wheel_separation}" />

    <!-- Nanosaur sensors -->
    <xacro:if value="${cover_type_name == 'realsense'}">
        <xacro:realsense_camera
                parent_name="camera_board"
                sensor_name="camera"
                robot_name="$(arg robot_name)"
                publish_pointcloud="$(arg publish_pointcloud)" />
    </xacro:if>

</robot>