<?xml version="1.0"?>
<robot name="nanosaur_ignition" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- nanosaur parts -->
    <xacro:include filename="$(find nanosaur_description)/urdf/robot.urdf.xacro" />
    <!-- differential drive -->
    <xacro:include filename="$(find nanosaur_ignition)/urdf/diff_drive.ignition.xacro" />
    <!-- Sensors -->
    <xacro:include filename="$(find nanosaur_ignition)/urdf/sensors/camera.ignition.xacro" />
    <xacro:include filename="$(find nanosaur_ignition)/urdf/sensors/realsense.ignition.xacro" />

    <xacro:arg name="robot_name" default="nanosaur" />
    <!-- camera definitions -->
    <xacro:arg name="cover_type" default="fisheye" /> <!--options: pi, fisheye, realsense, zedmini -->
    <xacro:property name="cover_type_name" value="$(arg cover_type)" />
    
    <xacro:arg name="publish_pointcloud"  default="false"/>
    <xacro:arg name="publish_odom_tf"  default="false"/>

    <xacro:arg name="depth_camera"  default="left"/>
    <xacro:arg name="resolution"    default="VGA"/>

    <!-- nanosaur robot
         "diff_drive_emulation" parameter enable simulation mode.
         Add extra wheel and center sprocket for differential drive simulation -->
    <!--https://github.com/ros-simulation/gazebo_ros_pkgs/pull/1284 -->
    <xacro:nanosaur cover_type="$(arg cover_type)"
                    use_nominal_extrinsics="true"
                    diff_drive_emulation="true"
                    path_meshes="file://$(find nanosaur_description)/meshes" />

    <!-- nanosaur differential drive controller -->
    <xacro:track_drive parent="base_link"
                       robot_name="$(arg robot_name)"
                       update_rate="100.0"
                       wheel_radius="0.0150"
                       wheel_separation="0.4"
                       publish_odom_tf="$(arg publish_odom_tf)" />

    <!-- Nanosaur sensors -->
    <xacro:if value="${cover_type_name == 'pi'}">
        <xacro:normal_camera parent_name="camera_board" sensor_name="camera" robot_name="$(arg robot_name)">
            <origin xyz="0 0 0" rpy="0 -${M_PI/2} 0" />
        </xacro:normal_camera>
    </xacro:if>
    <xacro:if value="${cover_type_name == 'fisheye'}">
    </xacro:if>
    <xacro:if value="${cover_type_name == 'realsense'}">
        <xacro:realsense_camera parent_name="camera_board" sensor_name="camera" robot_name="$(arg robot_name)" publish_pointcloud="$(arg publish_pointcloud)" />
    </xacro:if>
    <xacro:if value="${cover_type_name == 'zed'}">

    </xacro:if>

</robot>