<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="nanosaur_ros2_control" params="robot_name">

    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <ros>
            <namespace>/${robot_name}</namespace>
        </ros>
        <parameters>$(find nanosaur_ignition)/config/nanosaur.yaml</parameters>
      </plugin>
    </gazebo>

    <ros2_control name="IgnitionSystem" type="system">
      <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>

      <xacro:macro name="configure_joint" params="joint_name">
        <joint name="${joint_name}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:configure_joint joint_name="sprocket_left_joint"/>
      <xacro:configure_joint joint_name="sprocket_right_joint"/>
    </ros2_control>
    
  </xacro:macro>
</robot>
