<?xml version="1.0"?>
<robot name="nanosaur" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- nanosaur parts -->
    <xacro:include filename="$(find nanosaur_description)/urdf/robot.urdf.xacro" />

    <xacro:arg name="robot_name" default="nanosaur" />
    <!-- camera definitions -->
    <xacro:arg name="head_type" default="empty" /> <!--options: empty, realsense, zedmini -->
    <xacro:arg name="flap_type" default="empty" /> <!--options: empty, LD06 -->
    <xacro:property name="cover_type_name" value="$(arg cover_type)" />

    <xacro:nanosaur
            head_type="$(arg head_type)"
            flap_type="$(arg flap_type)"
            use_nominal_extrinsics="true" />

</robot>