<?xml version="1.0"?>

<model>
  <name>Cube_Cozmo</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Tushar Semwal</name>
    <email>semwaltushar@gmail.com</email>
  </author>

  <description>
    A model for the cube used by the Anki Cozmo robot.
  </description>
</model>
